.gif-component {
    background-image: url("../../images/gifs/blueBackground2.png");
    flex-shrink: 0;
    max-width: 100%;
    height: 1069px;
    width: 100%;
    padding-left: 100px;
  } 
.hover-options:hover{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.gif-card-components{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
#gif-component-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
  gap: 24px;
}
#gif-component-description{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-family: var(--font-family-Subheading, Montserrat);
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
#gif-card-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
}

