.gif-component {
    background-image: url("../../images/gifs/blueBackground2.png");
    flex-shrink: 0;
    max-width: 100%;
    width: 100%;
    padding-left: 100px;
  } 
.hover-options:hover{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}
.conclusion{
  margin-bottom: 50px;
}

.white-line{
  border-bottom: 1px solid var(--Blue-semiTransparent, #FFFFF9);
  display: flex;
width: 503px;
padding-bottom: 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
.gif-style{
  width: 542px;
height: 300.652px;
  border-radius: var(--font-size-md, 16px);
  background: lightgray 50% / contain no-repeat;
  box-shadow: 4px 4px 80px 10px rgba(255, 255, 255, 0.25);
}
.gif-column{
 display: flex;
 align-items: flex-end;
 padding-bottom: 50px;
}
.gif-card-components{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  margin-bottom: 50px;
}
#gif-component-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
  gap: 24px;
}
#gif-component-description{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-family: var(--font-family-Subheading, Montserrat);
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-line-height-lg, 32px); 
  margin-bottom: 25px;
  /* 133.333% */
}
#gif-card-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px);
  margin-bottom: 25px;
}
#conclusion-desc{
  width: 792px;
  color: var(--Blue-semiTransparent, #FFFFF9);
font-size: var(--font-size-2xl, 24px);
font-style: normal;
font-weight: 400;
line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
.elements-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
font-size: var(--font-size-2xl, 24px);
font-style: normal;
font-weight: 700;
line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
.elements-desc{
  color: var(--Blue-semiTransparent, #FFFFF9);

/* Body/Small/Regular */
font-size: var(--font-size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: var(--font-line-height-xs, 20px); /* 142.857% */
}
.woolf-img{
  margin-bottom: 50px;
}

