.intro-component {
  background-image: url("../../images/introComponenetImages/blueBackground.png");
  position: relative;
} 
.intro-card{
  position: relative;
  background-color: transparent;
  width: 1300px;
  height: 600px;
  bottom: -50px;
}
.video-card {
    width: 100%;
    max-width: 1020px;
    height: 575px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: var(--font-line-height-md, 28px);
    display: block;
    pointer-events: none;
  }
  .government-transparency-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 800px;
    height: 400px;
    display: flex;
    border-radius: 24px;
    border: 0.5px solid #00324E;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(111deg, rgba(0, 50, 78, 0.54) 34.58%, rgba(0, 83, 129, 0.43) 66.64%, rgba(0, 115, 180, 0.38) 98.7%);
    text-align: center;
    padding: 57px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    gap: 10px;
  }

.clear-spend-logo-card{
    height: 152px;
    width: 152px;
    flex-shrink: 0;
    background-color: white;
    background-color: transparent;
    position: absolute;
  }
  .contact-us-button{
    float: right;
  }
  #clear-spend-logo{
    width: 170px;
    height: 100px;
    margin-left:55px;
    z-index: 100;
    position: absolute;
    border-radius: 0px 0px var(--itt-spacing-sm, 8px) var(--itt-spacing-sm, 8px);
  }
#card-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  text-align: center;
  /* Headers/H3 */
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
}
#card-description{
  color: var(--Blue-semiTransparent, #FFFFF9);
  text-align: center;
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
#government-transparency-card-content{
  margin-bottom: 140px;
  margin-top: 150px;
}
#watch-now-link{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
#challenge-title{
  color: var(--Blue-500, #04324E);
  /* Headers/H3 */
  font-family: Montserrat;
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
}
#challenge-description{
  color: var(--Blue-500, #04324E);
  /* Headers/Subheader 2 */
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
