
.header{
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; 
  z-index: 100;
}
.gif-component-contents{
  padding-top: 50px;
}
.state-challenge{
  width: 1350px;
  position: relative; 
  max-width: 100%;
  width: 100%;
  padding-left: 100px;
  margin-bottom: 50px;
}
.blue-background{
  background-image: url("../../images/introComponenetImages/blueBackground.png");
  background-position: center;
  height: 520px;
  margin-bottom: 120px;
}
.intro-card{
  background-color: transparent;
  height: 500px;
  width: 1350px;
  bottom: -50px;
  padding-left: 50%;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative; 
}

.video-card {
    width: 1350px;
    height: 110%;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius: var(--font-line-height-md, 28px);
    display: block;
    pointer-events: none;
  }
  .government-transparency-card{
    position: absolute;
    width: 75%;
    max-width: 800px;
    height: 400px;
    border-radius: 24px;
    border: 0.5px solid #00324E;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(111deg, rgba(0, 50, 78, 0.54) 34.58%, rgba(0, 83, 129, 0.43) 66.64%, rgba(0, 115, 180, 0.38) 98.7%);
    text-align: center;
    padding: 57px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    gap: 10px;
  }

.clear-spend-logo-card{
    background-color: transparent;
    position: absolute;
    display: flex;
    align-self: start;
  }
  .contact-us-button{
    float: right;
  }
  .watch-now-link{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-decoration-line: underline;
  }
  .watch-now-link:hover {
    color: white; /* Change this to your desired hover color */
    text-decoration: underline;
     /* Optional: Add underline on hover */
}
#contact-us-card-button{
  margin-top: 55px;
}
  #clear-spend-logo{
    width: 170px;
    height: 100px;
    border-radius: var(--font-line-height-md, 10px);
  }
#card-title{
  color: var(--Blue-semiTransparent, #FFFFF9);
  text-align: center;
  /* Headers/H3 */
  font-size: var(--font-size-5xl, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-size-7xl, 40px); /* 125% */
}
#card-description{
  color: var(--Blue-semiTransparent, #FFFFF9);
  text-align: center;
  font-size: var(--font-size-2xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-line-height-lg, 32px); /* 133.333% */
}
#government-transparency-card-content{
  margin-bottom: 89px;
  margin-top: 119px;
}


